NODE_ENV=prod

AWS_NUTRITION_RESPONSE_QUEUE_URL=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=

LOG_LEVEL=info

# paste here the google credentials json content in one line
GOOGLE_APPLICATION_CREDENTIALS_CONTENT=