NODE_ENV=test

# Declare these variables if you are going to use the polling/consumer approach
AWS_NUTRITION_RESPONSE_QUEUE_URL=
# in milliseconds
NUTRITION_RESPONSE_QUEUE_POLLING_TIME=20000

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=

# [optional]
FIREBASE_AUTH_EMULATOR_HOST=127.0.0.1:9099
FIRESTORE_EMULATOR_HOST=127.0.0.1:9098

LOG_LEVEL=debug

# paste here the google credentials json content in one line
GOOGLE_APPLICATION_CREDENTIALS_CONTENT=