NODE_ENV=test

# Declare these variables if you are going to use the polling/consumer approach
AWS_NUTRITION_RESPONSE_QUEUE_URL=
# in milliseconds
NUTRITION_RESPONSE_QUEUE_POLLING_TIME=20000

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=

LOG_LEVEL=debug

# url endpoint to create a meal report review
S2D_SERVER_CREATE_MRR_ENDPOINT=

# [secret] API KEY to allow mrr upload access 
MRR_UPLOAD_API_KEY=

# from where to get the secrets, for aws use 'ssm'
SECRETS_FROM=env