# Copy from https://github.com/edoburu/django-project-template/blob/master/.dockerignore
*.pyc
*.pyo
*.mo
*.db
*.sql.gz
.cache
.project
.idea
.pydevproject
.idea/workspace.xml
.DS_Store
.git/
__pycache__

# cache
.pytest_cache
.ruff_cache

# mine

Dockerfile
Dockerfile.*
.github
zip_source.py
env_examples/
docs/

# dev/test files
.vscode
tests/
scripts/
.venv
*.env