# valid: dev, test, prod
ENVIROMENT=test
APP_NAME=fitvoice-app
AWS_REGION=
AWS_ACCOUNT_ID=
# more info: https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-apprunner-service.html#cfn-apprunner-service-autoscalingconfigurationarn
APP_RUNNER_AUTO_SCALING_CONFIG_ARN=