NODE_ENV=dev
APP_PORT=8080

AWS_NUTRITION_REQUEST_QUEUE_URL=
AWS_S3_BUCKET=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=

# [optional]
FIREBASE_AUTH_EMULATOR_HOST=127.0.0.1:9099
FIRESTORE_EMULATOR_HOST=127.0.0.1:9098

# [optional] env var needed for `generate-auth-token` script
FIREBASE_API_KEY=

LOG_LEVEL=debug
CORS_ALLOW_ORIGINS=http://localhost:3000,http://127.0.0.1:3000

# from where to get the secrets, for aws use 'ssm'
SECRETS_FROM=env

# [secret] paste here the google credentials json content in one line
GOOGLE_APPLICATION_CREDENTIALS_CONTENT=
# [secret] API KEY to allow mrr upload access 
MRR_UPLOAD_API_KEY=
