NODE_ENV=dev
APP_PORT=8080

GOOGLE_APPLICATION_CREDENTIALS=

# [optional]
FIREBASE_AUTH_EMULATOR_HOST=127.0.0.1:9099
FIRESTORE_EMULATOR_HOST=127.0.0.1:9098

# [optional] env var needed for `generate-auth-token` script
FIREBASE_API_KEY=

LOG_LEVEL=debug
CORS_ALLOW_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
