NODE_ENV=test
APP_PORT=8080

AWS_S3_REGION=
AWS_S3_BUCKET=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

FIREBASE_AUTH_EMULATOR_HOST=127.0.0.1:9099
FIRESTORE_EMULATOR_HOST=127.0.0.1:9098

# env var needed for `generate-auth-token` script, see https://stackoverflow.com/questions/57788286/how-can-i-get-id-token-from-custom-token-via-firebaseadmin-sdk
FIREBASE_API_KEY=

LOG_LEVEL=debug

# paste here the google credentials json content in one line
GOOGLE_APPLICATION_CREDENTIALS_CONTENT=